<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.rebrandsoftware.cryptojstest"
        versionCode="1" 
        version   = "1.0.0">

	<preference name="phonegap-version" value="3.1.0" />
    <preference name="android-installLocation" value="auto" />

    <name>CryptoJS Test</name>

    <description>
        Trying to find out why SHA1 fails without error code on Android phonegap app
    </description>

    <author href="http://www.rebrandsoftware.com" email="mike@rebrandsoftware.com">
        Mike Gibson - Rebrand Software, LLC 
    </author>

	<feature name="http://api.phonegap.com/1.0/file"/>
	<feature name="http://api.phonegap.com/1.0/network"/>
	<feature name="http://api.phonegap.com/1.0/device"/>
	
</widget>